@import './fonts';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bokonique', sans-serif;
  transition: all .3s;
}

body {
  font-size: 16px;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #c04a5a;	
}