.header-sticky {
  height: 65px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  box-shadow: 0 3px 9px rgb(0 0 0 / 60%);
  transition: box-shadow .2s;
}

.header-sticky .header__item__title > h1 {
  font-size: 17px;
}