@media (min-width: 1921px) {
  .slider,
  .slide,
  .slider-nav {
    width: 1920px;
  }
  
  
}

@media (min-width: 1400px) and (max-width: 1649px) {
  .slider {
    height: calc(100vh - 120px);
  }
  
  .slide {
    width: 100vw;
    height: 100vh;
  }
  
  .slider-nav {
    height: 100px;
    width: 100vw;
  }
  
  .slider-nav li {
    padding: 24px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  .slider {
    height: calc(100vh - 100px);
  }
  
  .slide {
    width: 100vw;
    height: 100vh;
  }
  
  .slider-nav {
    height: 100px;
    width: 100vw;
  }
  
  .slider-nav li {
    padding: 24px;
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .header__item__title {
    margin-right: 20px;
  }

  .header__item__title > h1 {
    font-size: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .header__item__title {
    margin-right: 18px;
  }

  .header__item__title > h1 {
    font-size: 13px;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .header {
    height: 100px;
  }

  .header__item {
    width: 41%;
  }

  .header__item__title {
    margin-right: 18px;
  }

  .header__item__title > h1 {
    font-size: 13px;
  }
  
  
  .header__item__reg__item {
    font-size: 15px;
  }

  .header__item__reg__item span {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    height: 100px;
  }

  .header__row {
    width: 85%;
  }

  .header__item {
    width: 35%;
  }

  .header__item__title > h1 {
    font-size: 17px;
  }
}

@media (max-width: 551px) {
  .header {
    height: 80px;
  }
  
  .header__row {
    width: 85%;
  }

  .header__item {
    width: 35%;
  }

  .header__item__title > h1 {
    display: none;
  }

  .header__item__title > h2 {
    display: inline-block;
    font-size: 25px;
  }
}