@media (min-width: 1921px) {
  .slider,
  .slide,
  .slider-nav {
    width: 1920px;
  }
  
  
}

@media (min-width: 1400px) and (max-width: 1649px) {
  .slider {
    height: 625px;
  }
  
  .slider-nav {
    height: 80px;
    width: 100vw;
  }
  
  .slider-nav li {
    padding: 15px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media (min-width: 1280px) and (max-width: 1399px) {
  .slider {
    height: 600px;
  }
  .slide__about-news {
    bottom: 24%;
  }
  .slider-nav {
    height: 80px;
    width: 100vw;
  }
  
  .slider-nav li {
    padding: 15px;
    font-size: 12px;
    line-height: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .slide__about-news {
    bottom: 20%;
  }
  .slide__about-news > h4 {
    font-size: 21px;
    line-height: 38px;
  }
  .slider-nav {
    height: 64px;
    width: 100vw;
  }
  .slider-nav li {
    padding: 8px;
    font-size: 10px;
    line-height: 16px;
  }
}

@media (min-width: 992px) and (max-width: 1279px) {
  .slider {
    height: 500px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .slider {
    height: 400px;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .slider {
    height: 600px;
  }
  .slide__about-news {
    bottom: 20%;
  }
  .slide__about-news > h4 {
    font-size: 21px;
    line-height: 38px;
  }
  .slider-nav {
    height: 64px;
    width: 100vw;
  }
  .slider-nav li {
    padding: 8px;
    font-size: 10px;
    line-height: 16px;
  }
}

@media (max-width: 551px) {
  .header {
    height: 80px;
  }
  
  .header__row {
    width: 85%;
  }

  .header__item {
    width: 35%;
  }

  .header__item__title > h1 {
    display: none;
  }

  .header__item__title > h2 {
    display: inline-block;
    font-size: 25px;
  }
}