.header__item__nav > ul {
  display: flex;
  align-items: center;
}

.header__item__nav .nav__item {
  list-style-type: none;
  padding-right: 32px;
}

.header__item__nav .nav__item:last-child {
  padding-right: 0;
}

.header__item__nav .nav__item a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.header__item__nav .nav__item a:hover{
  color: rgba(255, 255, 255, .7)
}
